body{
	width: 100%;}
#headline{
		display: flex;
		justify-content: center;
		min-width: 90vw}
@font-face{
    font-family: 'ARCO Cyrillic';
    src: url('font/15548.otf') format("truetype"); 
    font-weight: normal;
    font-style: normal;}
h1{
	margin: 1vw;
	color: #909090;
	font-family: 'ARCO Cyrillic';}
#c:hover{color: #fff283;}
#o:hover{color: #8bc34a;}
#l:hover{color: #69bcff;}
#o2:hover{color: #ff6b60;}
#r:hover{color: #ea70ff;}
nav{
    display: flex;
    margin: 2vw 0vw 0vw 2vw;
    padding: 2vw;
	border: solid 2px;
	border-radius: 10px;
	text-align: center;
	font-family: Palatino, serif;
    font-variant: small-caps;}
a:link{
	text-decoration: none;}
p{
	font-family: Palatino, serif;
	text-align: justify;}

@media all and (max-width: 980px){
	#headline{
		font-size: 4vw;}
	nav{
		flex-wrap: wrap;
	    justify-content: center;
	    width: 90vw;
	    font-size: 5vw;}
	nav a{
	    margin: 2vw 5vw 2vw;
        width: 32vw;}
    p{
	    font-size: 4vw;
	    line-height: 5vw;}
}

@media all and (min-width: 981px){
	#headline{
		font-size: 3vw;}
    nav{
    	display: flex;
		flex-direction: column;
		justify-content: center;
		width: 16vw;
		height: 60vh;
	    font-size: 4vh;
	    position: fixed;}
	nav a{
	    width: 12vw;
	    margin: 2vw;}
	main{
		width: 70vw;
	    float: right;
	    margin: 2vw 3vw 0vw 0vw;
	    padding: 2vw;}
    p{
	    font-size: 1.3vw;
	    line-height: 2vw;}
}